[submodule "latex-macros"]
	path = latex-macros
	url = https://github.com/d-morrison/macros.git
	branch = main
[submodule ".ai-config"]
	path = .ai-config
	url = https://github.com/d-morrison/ai-config.git
	branch = main
