project:
  output-dir: _slides

format:
  revealjs:
    lightbox: true
    # center: true # Centers slide content both vertically and horizontally.
    # Use this option only for slides with minimal content or specific layouts
    # where centering improves readability. Note that enabling this option
    # may interfere with scrolling on slides with overflow content.
    # For more details, see the Reveal.js documentation:
    # https://revealjs.com/layout/#center
    bibliography: references.bib
    # reference-location: margin
    citations-hover: true
    theme: dark
    embed-resources: true
    fig-cap-location: top
    html-math-method: mathjax
    smaller: true
    number-sections: true
    progress: true
    incremental: false
    df-print: paged
    number-depth: 2
    slide-number: true
    shift-heading-level-by: -1
    slide-level: 2
    scrollable: true
    echo: true
    margin: 0.0
    code-fold: true
    code-link: true
    code-summary: "[R code]"
    # code-overflow: scroll
    auto-stretch: true
    # out-width: "50%"
    fig-height: 5
    fig-width: 7
    # chalkboard: true
include-in-header:
  text: |
    <style>
      .custom-small table {
        font-size: .5em
      }
    </style>
execute:
  warning: false
  message: false
  cache: false
  freeze: auto  # re-render only when source changes
knitr:
  opts_chunk:
    collapse: true
    comment: "#>"
